body {
  color: #707272;
}

p {
  font-size: 18px;
}

.chart {
  padding: 50px;
}

.byline {
  margin-left: 200px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

.title {
  margin: 50px 50px 0px 50px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.buttonWrap {
  text-align: center;
}

.content {
  margin: 20px 100px;
  font-family: "Times New Roman", Times, serif;
}
