.content {
  font-size: 20px;
  font-family: 'Cairo', sans-serif;
  padding: 25px 50px 25px 50px;
}

.contentSmall {
  font-size: 16px;
  font-family: 'Cairo', sans-serif;
  padding: 25px 50px 10px 50px;
}

.byline {
  font-size: 15px;
  font-style: italic;
  font-family: 'Cairo', sans-serif;
  margin-left: 30px;
}

#header {
  text-align: center;
  font-family: 'Anton', sans-serif;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 50px;
  width: 70%
}

#viz-wrapper {
  float: right;
}

.memo {
  font-size: 15px;
  font-family: 'Cairo', sans-serif;
  padding: 25px 20px 25px 40px;
}


.links {
  padding: 5px 50px 5px 50px;
  text-decoration: none;
}

/* ------------------ Array of all Circles ---------- */

.dots {
  fill: gray;
  opacity: .5;
}

/* ------------------- Classes for the circles within the SVG --------- */
.hide {
  display: none;
}

.suicide {
  fill: #5499C7;
  opacity: .9;
}

.suicideWhiteMale {
  fill: #8ECB95  ;
  opacity: .9;
}

.suicideWhiteMaleMiddleage {
  fill: #4E6F52;
  opacity: .9;
}

.homicide {
  fill: blue;
  opacity: .9;
}

.highlighted {
  fill: #5499C7;
  opacity: .9;
}

/* --------------- Buttons ------------------------ */


button {
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  text-decoration: none;
}

#resetButton {
  font-size: 18px;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 50px;
}

#resetButton:hover {
  background-color: black;
  color: white;
}

.highlightButton {
  font-size: 14px;

}

.highlightButton:hover {
  background-color: #5499C7;
  color: white;
}

.removeButton {
  font-size: 18px;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 50px;
  }

.removeButton:hover {
  background-color: gray;
  text-decoration: none;
  color: white;
}
